<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title> ChinyuLineBot &mdash; Introduction</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by freehtml5.co" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="freehtml5.co" />

	<!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FreeHTML5.co
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,300i,400,400i,500,600i,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="../css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="../css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="../css/bootstrap.css">
	<!-- Flexslider  -->
	<link rel="stylesheet" href="../css/flexslider.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="../css/style.css">

	<!-- Modernizr JS -->
	<script src="../js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		
	<div class="fh5co-loader"></div>
	
	<div id="page">
	<nav class="fh5co-nav" role="navigation">
		<!-- <div class="top-menu"> -->
			<div class="container">
				<div class="row">
					<div class="col-xs-12 text-center logo-wrap">
						<div id="fh5co-logo"><a href="../index.html">Chinyu<span>.</span></a></div>
					</div>
					<div class="col-xs-12 text-center menu-1 menu-wrap">
						<ul>
							<li><a href="../index.html">Home</a></li>
							<li><a href="../menu.html">Menu</a></li>
							<li class="has-dropdown">
								<a href="../gallery.html">Gallery</a>
								<ul class="dropdown">
									<li><a href="#">Events</a></li>
									<li><a href="#">Food</a></li>
									<li><a href="#">Coffees</a></li>
								</ul>
							</li>
							<li><a href="../reservation.html">Reservation</a></li>
							<li><a href="../about.html">About</a></li>
							<li><a href="../contact.html">Contact</a></li>
							<li class="has-dropdown">
								<a href="../tku/index.html">TKU</a>
								<ul class="dropdown">
									<li><a href="../tku/w1/intro.html">Intro</a></li>
									<li><a href="../tku/w1/pokemon.html">Pokemon</a></li>
									<li><a href="../tku/w2/imageGallery.html">ImageGallery</a></li>
									<li><a href="../tku/w4/div.html">Div</a></li>
									<li><a href="../curriculum.html">My Class</a></li>
									<li><a href="../resume.html">My Resume</a></li>
                                    <li><a href="../github.html">Github</a></li>
                                    <li><a href="../explain.html">Project 說明</a></li>
								</ul>
							</li>
							<li class="has-dropdown active">
								<a href="">dbdemo</a>
								<ul class="dropdown">
									<li><a href="/final_project/final_explain.html">Project 說明</a></li>
									<li><a href="/dbdemo/card">Card</a></li>
									<li><a href="/dbdemo/bot_introduction">Bot Intro</a></li>
									<li><a href="/dbdemo/bot_menu">Bot Menu</a></li>
									<li><a href="/dbdemo/help_list">Help List</a></li>
									<li><a href="/dbdemo/combined">Combined</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		<!-- </div> -->
	</nav>

	<div id="fh5co-about" class="fh5co-section" >
		<div class="container">
			<div class="row" >
				<div class="col-md-6 img-wrap animate-box" data-animate-effect="fadeInLeft">
					<img src="<%= data[0].image %>" alt="Free Restaurant Bootstrap Website Template by FreeHTML5.co" >
				</div>
				<div class="col-md-5 col-md-push-1 animate-box">
					<div class="section-heading">
						<h2><%= data[0].title %></h2>
						<% for(let i = 0; i < data.length ;i++){ %>
							<p><%= data[i].func %></p>
						<% } %>
						<p><a href="line://ti/p/~chinyu0201" class="btn btn-primary btn-outline">更多資訊</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up22"></i></a>
	</div>
	
	<!-- jQuery -->
	<script src="../js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="../js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="../js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="../js/jquery.waypoints.min.js"></script>
	<!-- Waypoints -->
	<script src="../js/jquery.stellar.min.js"></script>
	<!-- Flexslider -->
	<script src="../js/jquery.flexslider-min.js"></script>
	<!-- Main -->
	<script src="../js/main.js"></script>

	</body>
</html>

