<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/card.css">
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,300i,400,400i,500,600i,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="../css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="../css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="../css/bootstrap.css">
	<!-- Flexslider  -->
	<link rel="stylesheet" href="../css/flexslider.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="../css/style.css">

	<!-- Modernizr JS -->
	<script src="../js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->
    <style>
        .border_top {
            border-top-left-radius: 6%;
            border-top-right-radius: 6%;
        }

        .border_down {
            border-bottom-left-radius: 6%;
            border-bottom-right-radius: 6%;
        }
    </style>
</head>

<body>
    <div class="fh5co-loader"></div>
	
	<div id="page">
	<nav class="fh5co-nav" role="navigation">
		<!-- <div class="top-menu"> -->
			<div class="container">
				<div class="row">
					<div class="col-xs-12 text-center logo-wrap">
						<div id="fh5co-logo"><a href="../index.html">Chinyu<span>.</span></a></div>
					</div>
					<div class="col-xs-12 text-center menu-1 menu-wrap">
						<ul>
							<li><a href="../index.html">Home</a></li>
							<li><a href="../menu.html">Menu</a></li>
							<li class="has-dropdown">
								<a href="../gallery.html">Gallery</a>
								<ul class="dropdown">
									<li><a href="#">Events</a></li>
									<li><a href="#">Food</a></li>
									<li><a href="#">Coffees</a></li>
								</ul>
							</li>
							<li><a href="../reservation.html">Reservation</a></li>
							<li><a href="../about.html">About</a></li>
							<li><a href="../contact.html">Contact</a></li>
							<li class="has-dropdown">
								<a href="../tku/index.html">TKU</a>
								<ul class="dropdown">
									<li><a href="../tku/w1/intro.html">Intro</a></li>
									<li><a href="../tku/w1/pokemon.html">Pokemon</a></li>
									<li><a href="../tku/w2/imageGallery.html">ImageGallery</a></li>
									<li><a href="../tku/w4/div.html">Div</a></li>
									<li><a href="../curriculum.html">My Class</a></li>
									<li><a href="../resume.html">My Resume</a></li>
                                    <li><a href="../github.html">Github</a></li>
                                    <li><a href="../explain.html">Project 說明</a></li>
								</ul>
							</li>
							<li class="has-dropdown active">
								<a href="">dbdemo</a>
								<ul class="dropdown">
									<li><a href="/final_explain.html">Project 說明</a></li>
                                    <li><a href="/dbdemo/card">Card</a></li>
                                    <li><a href="/dbdemo/bot_introduction">Bot Intro</a></li>
                                    <li><a href="/dbdemo/bot_menu">Bot Menu</a></li>
                                    <li><a href="/dbdemo/help_list">Help List</a></li>
                                    <li><a href="/dbdemo/combined">Combined</a></li>
                                </ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		<!-- </div> -->
	</nav>
    <div id="fh5co-featured-testimony" class="fh5co-section">
        <div class="container">
            <div class="row">
                <!-- Card -->
                <div style="margin: 10px;">
                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="border_top" height="250px" width="250px" src="../images/intro.png"
                            alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!-- Card content -->
                    <div class="card-body border_down" style="background-color: #333333;">

                        <!-- Title -->
                        <h4 class="card-title" style="color:#1DB446">Intro</h4>
                        <!-- Text -->
                        <p class="card-text" style="color:#1DB446">個人資訊</p>
                        <!-- Button -->
                        <center>
                            <a href="../tku/w1/intro.html" class="btn" style="border-radius: 50% 15% / 20% 50%; background-color:#1DB446">前往網頁</a>
                        </center>

                    </div>
                </div>
                <!-- Card -->
                <!-- Card -->
                <div style="margin: 10px;">
                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="border_top" height="250px" width="250px" src="../images/pokemon.png" alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!-- Card content -->
                    <div class="card-body border_down" style="background-color: #333333;">

                        <!-- Title -->
                        <h4 class="card-title" style="color:#1DB446">Pokemon</h4>
                        <!-- Text -->
                        <p class="card-text" style="color:#1DB446">Pokemon Chart</p>
                        <!-- Button -->
                        <center>
                            <a href="../tku/w1/pokemon.html" class="btn" style="border-radius: 50% 15% / 20% 50%; background-color:#1DB446">前往網頁</a>
                        </center>

                    </div>
                </div>
                <!-- Card -->
                <!-- Card -->
                <div style="margin: 10px;">
                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="border_top" height="250px" width="250px" src="../images/image_gallery.png" alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!-- Card content -->
                    <div class="card-body border_down" style="background-color: #333333;">

                        <!-- Title -->
                        <h4 class="card-title" style="color:#1DB446">Image Gallery</h4>
                        <!-- Text -->
                        <p class="card-text" style="color:#1DB446">圖片庫</p>
                        <!-- Button -->
                        <center>
                            <a href="../tku/w2/imageGallery.html" class="btn" style="border-radius: 50% 15% / 20% 50%; background-color:#1DB446">前往網頁</a>
                        </center>

                    </div>
                </div>
                <!-- Card -->
                <!-- Card -->
                <div style="margin: 10px;">
                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="border_top" height="250px" width="250px" src="../images/div.png" alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!-- Card content -->
                    <div class="card-body border_down" style="background-color: #333333;">

                        <!-- Title -->
                        <h4 class="card-title" style="color:#1DB446">Div</h4>
                        <!-- Text -->
                        <p class="card-text" style="color:#1DB446">淡江大戲</p>
                        <!-- Button -->
                        <center>
                            <a href="../tku/w3/div.html" class="btn" style="border-radius: 50% 15% / 20% 50%; background-color:#1DB446">前往網頁</a>
                        </center>

                    </div>
                </div>
                <!-- Card -->
                <!-- Card -->
                <div style="margin: 10px;">
                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="border_top" height="250px" width="250px" src="../images/myclass.png" alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!-- Card content -->
                    <div class="card-body border_down" style="background-color: #333333;">

                        <!-- Title -->
                        <h4 class="card-title" style="color:#1DB446">My Class</h4>
                        <!-- Text -->
                        <p class="card-text" style="color:#1DB446">課表</p>
                        <!-- Button -->
                        <center>
                            <a href="../curriculum.html" class="btn" style="border-radius: 50% 15% / 20% 50%; background-color:#1DB446">前往網頁</a>
                        </center>

                    </div>
                </div>
                <!-- Card -->
                <!-- Card -->
                <div style="margin: 10px;">
                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="border_top" height="250px" width="250px" src="../images/myresume.png" alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!-- Card content -->
                    <div class="card-body border_down" style="background-color: #333333;">

                        <!-- Title -->
                        <h4 class="card-title" style="color:#1DB446">My Resume</h4>
                        <!-- Text -->
                        <p class="card-text" style="color:#1DB446">履歷表</p>
                        <!-- Button -->
                        <center>
                            <a href="../resume.html" class="btn" style="border-radius: 50% 15% / 20% 50%; background-color:#1DB446">前往網頁</a>
                        </center>

                    </div>
                </div>
                <!-- Card -->
            </div>
        </div>
    </div>
    <div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up22"></i></a>
	</div>
	
	<!-- jQuery -->
	<script src="../js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="../js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="../js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="../js/jquery.waypoints.min.js"></script>
	<!-- Waypoints -->
	<script src="../js/jquery.stellar.min.js"></script>
	<!-- Flexslider -->
	<script src="../js/jquery.flexslider-min.js"></script>
	<!-- Main -->
    <script src="../js/main.js"></script>

    <script src="../js/card.js"></script>
</body>

</html>